body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c2d57;
}

header {
    background-color: ;
    color: white;
    text-align: left;
    padding: 1em;
}

section {
    box-sizing: content-box;
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: #ffeeb9;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 100px;
}

button {
    border-radius: 25px;
    background-color: #0c2d57;
    color: white;
    padding: 0.5em 1em;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    background-color: #0c2c579a;
}
